body{
  display:flex;
  justify-content: center;
  align-content: center;
  background-color: #4a79ab;
  font-family: 'Lato', sans-serif;
  font-size: 1em;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

.site-container{
  width:80%;
  background-color: white;
  display: block;
}

/* Navigation Section */
.navigation{
  display: flex;
  align-items: center;
}

.logo{
  display: flex;
  margin-left: 2em;
}

.navbar{
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}

.nav-link{
  text-decoration: none;
  color: gray;
  border: 0;
}

.nav-link:hover{
  color: #19b2d4;
}

li>a{
    list-style-type: none;
}

/* Colors */

.text-white{
  color: white;
}

.text-blue{
  color: #19b2d4;
}
.text-small{
  font-size: .75rem;
}

/* Call to Action Section */
.cta-menu{
  display: flex;
  background-color: #a8a7a4;
}

.main-headline{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 5rem;
  padding-right: 5rem;
  text-align: center;
}

p{
  display: block;
  position: relative;
  padding: .5rem .5rem;
  margin: 0rem 0rem;
}

h3{
    margin-bottom: .5rem;
}
.featured{
    margin: 0rem 0rem;
    padding: 0rem 0rem;
    padding-left: .5rem;
}
.cta-btn{
  margin-top: .75rem;
  background-color: #4a79ab;
  padding:.5rem .5rem;
  font-size: .9rem;
  text-decoration: none;
}

.cta-btn:hover{
  background-color: #19b2d4;
}

.media-btn-menu{
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: .5rem 5rem;
}

.media-btn{
  color: white;
  background-color: #a8a7a4;
  text-decoration: none;
  padding:.5rem .75rem;
  font-size: .9rem;
  border: 0;
}

.media-btn:hover{
  background-color: #19b2d4;
}

.subscribe{
  background-color: #19b2d4;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 2rem 3rem;
}

.headline{
  padding-left: 3rem;
}
.image-container{
  display: flex;
  flex-direction: row;
  padding-top: 1rem;
}

.text-center{
  text-align: center;
}

.list-title{
  padding-left: 1rem;
}


.cta-btn-large{
  background-color: black;
  border: 1px solid white;
  border-radius: .3rem;
  padding:.5rem .5rem;
  font-size: .9rem;
  text-decoration: none;
  margin-top: .75rem;

}
.featured-row{
  display: flex;
  flex-direction: row;
  padding: 1rem 6rem;
}
.featured-guest{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.featured-article{
  display: flex;
  flex-direction: column;
  margin: .5rem 1rem 1rem 0rem;
}

.episodes{
  background-color: black;
  padding: 1rem 3rem;
  display: flex;
  flex-direction: column;
}

.episodes-row{
  background-color: black;
  padding: 0.5rem 6rem;
  display: flex;
  flex-direction: row;
}

.episodes-guest{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.episodes-article{
  display: flex;
  flex-direction: column;
  padding-top: 1rem;
}

.episodes-btn{
  margin-top: .75rem;
  background-color: black;
  padding:.5rem .5rem;
  font-size: 1rem;
  text-decoration: none;
  border: 1px solid #19b2d4;
}
#episodes-center{
  justify-content: center;
}

.popular{
  display: flex;
  flex-direction: row;
  padding: 1rem 3rem;
}
.popular-left{
  display: flex;
  flex-direction: column;
}
.popular-right{
  display: flex;
  flex-direction: column;
}
.fb-widget{
  background-color: #ccc;
  margin-right: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90%
}

.guest-section{
  display: flex;
  flex-direction: column;
  padding: 2rem 3rem;
  background-color: #ccc;
}

.guest-images{
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 2rem;
}

.prefooter{
  display: flex;
  flex-direction: row;
  background-color: black;
  padding: 2rem 3rem;
}
.prefooter-left{
  display: flex;
  flex-direction: column;
}
.prefooter-right{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer{
  background-color: black;
}
